<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyScope.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EasyScope.Properties.Settings>
            <setting name="AccentColor" serializeAs="String">
                <value>31, 73, 125</value>
            </setting>
            <setting name="AppStyle" serializeAs="String">
                <value>Office2010Silver</value>
            </setting>
        </EasyScope.Properties.Settings>
    </userSettings>
</configuration>